<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cupid</title>
    <link rel="stylesheet" type="text/css" href="/static/components/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css" />
    {% block headhtml %}{% endblock %}
  </head>
  <body>
    <div class="container">
    {% block container %}
      <div class="header">
        <h1>Cupid</h1>
        <div class="pull-right nav">
          <span class="current-user">{{ username }}</span>
          <a href="/account/signout">Sign Out</a>
        </div>
      </div>

      <div class="main">
        {% block main %}
        <div class="pull-left menu">
          <ul class="nav">
            <li><a href="/">Index</a></li>
            <li><a href="/staffs">Staffs</a></li>
          </ul>
        </div>

        <div class="content">
          <h2 class="title">{% block title %}Index{% endblock %}</h2>
          {% block content %}{% endblock %}
        </div>
        {% endblock %}
      </div>

      <div class="footer">
        Cupid &copy; 2016
      </div>

    {% endblock %}
    </div>
    {% block htmlfoot %}{% endblock %} 
  </body>
</html>
