<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cupid Sign up</title>
  </head>
  <body>
    <form action="" method="POST">
      <section>
        <label>Username: </label>
        <input type="text" name="username" />
      </section>

      <section>
        <label>Password: </label>
        <input type="password" name="password" />
      </section>

      <section>
        <label>Fullname: </label>
        <input type="text" name="fullname" />
      </section>

      <section>
        <label>Email: </label>
        <input type="text" name="email" />
      </section>

      <section>
        <label>Mobile: </label>
        <input type="text" name="mobile" />
      </section>

      <section>
        <button type="submit">Submit</button>
      </section>
    </form>
  </body>
</html>
